/* 
-- =================
-- INDEX PAGE
-- =================
*/

.inner {
    width: 400px;
}

#landing .inner form {
    float: left;
}

#landing .inner form + form {
    float: right;
}

#landing button {
    padding: 20px;
    border-radius: 5px;
}

#landing button.not-active {
    background-color: #404040;
    border-color: #404040;
    cursor: auto;
}