@font-face {
  font-family: Aniron;
  src: url(aniron/anirm___.ttf);
}

/* 
-- =================
-- LOADING ANIMATION
-- =================
*/

/* 
-- logic taken from
-- https://www.devtwins.com/blog/css-cross-fading-images
--
-- there is a GIMP project file loading_icon.xcf which contains the source for the animation split by layers;
-- the base image is mce.png found in the main game folder where LotroLauncher.exe is;
-- 
-- in GIMP:
--
-- the inscription was extracted with Select by Color Tool making sure to Shift+Click all the parts of the inscription,
-- then deleting anything not needed on the layer; the brighter version via Colors -> Hue-Chroma... -> Lightness with Blending Mode = Soft Light;
--
-- the eye was simply 2x Ellipse Select Tool;
--
-- the orange color was sampled from a screenshot of the in-game loading screen, then used to fill an entire layer above the eye and setting Blending Mode = Linear Light
*/

html {
    min-width: 620px;
}

html body > a,
html body > .inner {
    visibility: visible;
    opacity: 1;
}

html.loading body > a,
html.loading body > .inner {
    visibility: hidden;
    opacity: 0;
}

html.loading body {
    background-image: none;
}

html:not(.loading) #overlay-loading {
    display: none;
    visibility: 0;
    z-index: 0;
}

#overlay-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
#overlay-loading p {
    z-index: 10;
    background: rgb(0, 4, 34);
    padding: 10px 35px;
}
.loader {
    position: absolute;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation: fade 3s infinite ease-in-out;
    animation: fade 3s infinite ease-in-out;
}
/*
-- the calculations from https://www.devtwins.com/blog/css-cross-fading-images were made with duration of img = 0.25s
-- and duration of fade = 0.5s;
-- in theory the animation delay should be 0.75s everywhere but this way felt robotic, so overlapping fade-ins and -outs
-- was the only solution, the final values for state-3 and state-4 came from trial and error
*/
.loader#state-1 { /* base */
    background-image: url('loading_icon_state1.png');
    animation-delay: 0s;
}
.loader#state-2 { /* orange */
    background-image: url('loading_icon_state2.png');
    animation-delay: 0.75s;
}
.loader#state-3 { /* base */
    background-image: url('loading_icon_state1.png');
    animation-delay: 0.95s;
}
.loader#state-4 { /* text */
    background-image: url('loading_icon_state3.png');
    animation-delay: 1.45s;
}
.loader#state-5 { /* base */
    background-image: url('loading_icon_state1.png');
    animation: none; /* this makes sure that the baseline is always visible */
    -webkit-animation: none;
}
@keyframes fade {
    0% {
        opacity: 1;
    }
    8% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    83% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* 
-- =================
-- COMMON STYLES
-- =================
*/

body {
    background-color: rgb(0, 4, 34);
    background-image: url(main_bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F2F2F2;
    margin: 0;
}

.inner {
    width: 1100px;
    display: flex; /* in #main, this ensures that the gear panel takes up the whole vertical space */
    flex-direction: column;
}

button {
    cursor: pointer;
    border: 1px solid #A62D12;
    background-color: #A62D12;
    color: #F2F2F2;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
}

button:hover {
    background-color: #F2A950;
    border-color: #F2A950;
    color: #404040;
}

input {
  text-align: center;
  background-color: #ccc;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
}

.noshow {
    visibility: hidden;
    display: none !important;
}

.green {
    color: green;
}
.red {
    color: red;
}

/*
-- =================
-- DECORATIVE BORDER STYLES
-- =================
*/
.b1-parent-container {
    display: grid;
    grid-template-columns: 22px 14px auto 14px 22px;
    grid-template-rows: 22px 14px auto 14px 22px;
}
.b1-tl {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background-image: url(border-top-left.png);
}
.b1-tm {
    grid-column: 3;
    grid-row: 1;
    background-image: url(border-top.png);
}
.b1-tr {
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
    background-image: url(border-top-right.png);
}
.b1-l {
    grid-column: 1;
    grid-row: 3;
    background-image: url(border-left.png);
}
.b1-content {
    grid-column: 2 / span 3;
    grid-row: 2 / span 3;
    background-color: rgba(0, 0, 0, 0.92);
}
.b1-r {
    grid-column: 5;
    grid-row: 3;
    background-image: url(border-right.png);
}
.b1-bl {
    grid-column: 1 / span 2;
    grid-row: 4 / span 2;
    background-image: url(border-bottom-left.png);
}
.b1-bm {
    grid-column: 3;
    grid-row: 5;
    background-image: url(border-bottom.png);
}
.b1-br {
    grid-column: 4 / span 2;
    grid-row: 4 / span 2;
    background-image: url(border-bottom-right.png);
}
/*
-- =================
-- END
-- DECORATIVE BORDER STYLES
-- =================
*/

a:has(h1) {
    text-decoration: none;
}

h1 {
    font-family: Aniron;
    color: #F2A950;
    width: 100%;
    text-align: center;
}

/* 
-- =================
-- CLASS SELECTION
-- =================
*/

#class-select {
    margin-bottom: 15px;
}

#class-select .b1-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}
#class-select label[for="char-level"] {
    position: absolute;
    top: -33px;
    left: 78px;
    margin: 0;
}
#class-select label[for="char-level"] img {
    width: 110px;
    height: 120px;
}
#char-level {
    all: unset;
    width: 80px;
    font-size: 50px;
    color: black;
    font-weight: bold;
    position: relative;
    top: -5px;
    left: -10px;
    text-align: center;
    text-shadow:1px 1px 10px #dadada, 1px 1px 10px #a7a7a7;
}
#class-select form + form {
    margin-top: 7px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

#class-select form {
    display: flex;
    justify-content: center;
}

#class-select form label {
    margin-right: 14px;
}

#class-select [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

#class-select [type=radio] + img {
    cursor: pointer;
    opacity: 0.35;
}

#class-select [type=radio] + img:hover {
    opacity: 0.65;
}

#class-select [type=radio]:checked + img {
    opacity: 1;
}

/* 
-- =================
-- END
-- CLASS SELECTION
-- =================
*/

#main {
    flex-direction: row;
    margin-top: 15px;
    position: relative;
}

tr {
    position: relative;
    display: block;
    margin-bottom: 5px;
}

/* 
-- =================
-- SIDE BUTTONS
--
-- icons from https://www.iconfinder.com/search/icons?family=sympletts
-- put into button-icon-template.xcf made in GIMP from the borders used for the rest of the app
-- 
-- =================
*/

#side-buttons {
    position: absolute;
    right: -47px;
    top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
#side-buttons img {
    width: 30px;
    height: 30px;
    filter: invert(1); /* most SVGs are with black outline, this changes the outline to white */
}
#side-buttons button {
    all: inherit;
    cursor: pointer;
}

#side-buttons a,
#side-buttons button {
    background-color: #75200c;
    padding: 8px 8px 5px 8px;
    border: 1px solid #75200c;
    border-radius: 3px;
    transition: all 200ms ease-in-out;
}
#side-buttons a:hover,
#side-buttons button:hover {
    background-color: #A62D12;
    border-color: #A62D12;
}

/* 
-- =================
-- POP-UPS
--
-- seen at https://codepen.io/imprakash/pen/GgNMXO
-- =================
*/
.overlay,
html.loading .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    display: none;
    opacity: 0;
    visibility: hidden;
}
.overlay:target {
    display: block;
    opacity: 1;
    visibility: visible;
}
.popup {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 30px 20px 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    min-width: 230px;
    position: relative;
    color: rgba(0, 0, 0, 0.92);
}
.popup .close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup h2 {
    margin: 0px 0px 20px 0px;
}
.popup form {
    display: flex;
    flex-direction: row;
}
.popup form input {
    flex-grow: 1;
}

#import-popup button[type="submit"] {
    margin-left: 10px;
}

#export-popup input {
    width: 90%;
}

/* 
-- =================
-- GEAR PANEL
-- =================
*/

#table-container {
    width: 650px;
    margin-right: 5px;
}

#table-container > .b1-content {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: center;
    /* vignette effect */
    box-shadow: 0px 0px 200px 100px rgba(0,0,0,0.95) inset;
    -webkit-box-shadow: 0px 0px 200px 100px rgba(0,0,0,0.95) inset;
    -moz-box-shadow: 0px 0px 200px 100px rgba(0,0,0,0.95) inset;
}

#table-container > .b1-content > #armor-jewelry-columns {
    display: flex;
    justify-content: space-between;
}

.item {
    cursor: pointer;
}

.item + td {
    position: absolute;
    z-index: 3;
}
#weapons .item + td {
    top: -170px;
    left: 130px;
}

#weapons {
    display: flex;
    justify-content: center;
    position: relative; /* this is to make sure that we position the same way the pop-ups for each item in here */
}

#weapons tbody {
    display: flex;
}

#weapons tr {
    position: unset;
}

#jewelry .item + td {
    top: 1px;
    left: 66px;
}

#armor .item + td {
    top: 1px;
    right: 70px;
}

.item + td form div {
    margin-bottom: 10px;
}

#jewelry :nth-child(n + 6 of tr) .item + td,
#armor :nth-child(n + 6 of tr) .item + td {
    top: auto;
    bottom: 1px;
}

td form select {
    padding: 5px;
    width: 150px;
    margin-right: 10px;
}

td form h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.item + td > form {
    width: 300px;
}

.item + td > form > div:first-child {
    display: flex;
    flex-direction: column;
}

.item + td > form > div:not(:first-child) {
    display: flex;
    flex-direction: row;
}

.item + td > form > div:last-child {
    justify-content: space-around;
    margin-bottom: 0px;
    margin-top: 15px;
}

.item + td > form > div:not(:first-child) > select {
    flex: 3;
}
.item + td > form > div:not(:first-child) > input {
    min-width: 0;
    flex: 1;
}

td span:first-child {
    margin-right: 2px;
}

/* 
-- =================
-- END
-- GEAR PANEL
-- =================
*/








#stat-values {
    flex-grow: 1;
}

#notification {
    color: #f26b43;
    margin-bottom: 0px;
    margin-top: 15px;
}

#stat-values td:first-child {
    min-width: 235px;
}

#stat-values tr:before {
    color: #b7b076;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    padding: 0px 0px 3px 0px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}
#stat-values tr:not(:first-child):before {
    margin-top: 10px;
}
#stat-values tr:nth-child(1):before {
    content: "Basic stats";
}
#stat-values tr:nth-child(6):before {
    content: "Offence";
}
#stat-values tr:nth-child(11):before {
    content: "Defence";
}
#stat-values tr:nth-child(17):before {
    content: "Regeneration";
}

/*
-- =================
-- ITEM TOOLTIP
-- stolen from Lotro-Wiki
-- =================
*/

.tooltip ul {
    list-style: none;
}
.tooltip li,
.tooltip li a {
    color: white;
    margin-left: 0px !important;
    font-size: 14px;
    font-variant: normal !important;
    letter-spacing: 0.5px;
    position: relative;
}
.tooltip li.attrib {
    color: limegreen;
}

.tooltip figure {
    /*margin: 3px 8px 0px 0px;*/
    margin: 0px;
}

.tooltip ul {
    padding: 0px;
    margin-bottom: 0px;
    width: 100%; /* this is needed because of the flex-flow on the parent */
    margin-top: 10px;
}

/* .tooltip-content > span:first-child {
    float: left;
} */

.tooltip li.attrib ~ li:has(> span):not(:last-child) {
    margin: 2px 0px;
}


/* .tooltip {
    position: absolute;
    top: 2px;
    left: 68px;
    visibility: hidden;
    border: 5px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(90deg,rgba(205, 204, 206, 1) 41%, rgba(149, 149, 148, 1) 69%, rgba(102, 102, 103, 1) 100%);
    background-color: black;
    z-index: 2;
} */

.tooltip {
    position: absolute;
    top: 2px;
    left: 60px;
    visibility: hidden;
    border-width: 1px;
    border-color: rgb(75 85 99);
    background: linear-gradient(#0a0e14, #152035, #0a0e14);
    border-radius: 0.25rem;
    border-style: solid;
    z-index: 2;
}

.tooltip a {
    text-decoration: none;
}

.tooltip .flavor {
    color: #cccc7f;
}

.tooltip-content.itemtooltip {
    width: 16.5em !important;
    display: flex;
    flex-flow: wrap;
}

.tooltip-content.itemtooltip > span:first-of-type,
.tooltip-content.itemtooltip > span:first-of-type * {
    display: inline-flex;
}
.tooltip-content.itemtooltip > span:first-of-type {
    align-self: anchor-center;
}
.tooltip-content.itemtooltip > span:nth-of-type(2) {
    align-self: anchor-center;
    margin-left: 5px;
    width: 185px;
    line-height: normal !important;
}

.tt-not-found {
    min-width: 100px;
    min-height: 20px;
    padding: 15px 10px 15px 15px;
}

#armor .tooltip:has(.tt-not-found) {
    left: -211px;
}

#weapons .tooltip:has(.tt-not-found) {
    left: -62px;
}

#jewelry .tooltip {
    top: 3px;
}

#armor .tooltip {
    left: -283px;
}

#weapons .tooltip {
    top: auto;
    bottom: 65px; /* this should be changed if more weapon slot items are added */
    left: 175px; /* this should be changed if more weapon slot items are added */
}

.item:hover + td + td.tooltip,
.tooltip:hover {
    visibility: visible;
}

#armor :nth-child(n + 6 of tr) .item + td + td.tooltip,
#jewelry :nth-child(n + 6 of tr) .item + td + td.tooltip {
    top: auto;
    bottom: 3px;
}

.tooltip li:has(> span[typeof='mw:File']) {
    color: limegreen !important;
    display: flex;
    align-items: center;
}

.tooltip li:has(a[href='https://lotro-wiki.com/wiki/File:Empty_Essence_Slot-icon.png']) {
    color: grey !important;
}

.tooltip .qc-epic,.qc-epic a {
    color: orange
}

.tooltip .qc-incomparable,.qc-incomparable a {
    color: cyan;
}

.tooltip .qc-rare,.qc-rare a {
    color: DarkMagenta
}

.tooltip .qc-uncommon,.qc-uncommon a {
    color: yellow
}

.tooltip .qc-common,.qc-common a {
    color: white
}

.tooltip .qc-epic,.qc-incomparable,.qc-uncommon,.qc-common {
    text-shadow: black 0.05em 0.05em,black 0.1em 0.1em 1px;
}

.tooltip .qc-rare {
    text-shadow: black 0.05em 0.05em 1px
}

.tooltip [class^='qc-'] {
    font-size: 1em !important;
}

.tooltip span:has([typeof='mw:File']) {
    display: flex;
    align-items: anchor-center;
}
.tooltip [typeof='mw:File'] *,
.tooltip [typeof='mw:File'] {
    display: inline-flex;
}
.tooltip li:has([typeof='mw:File']):last-child {
    margin-top: 5px;
}
.tooltip span:has([typeof='mw:File']) > div[style='height:15px'] {
    width: 0px !important;
}






.tooltip li:has(span[contenteditable]) {
    border-top: 1px solid rgb(75 85 99);
    padding: 5px 0px;
    display: flex;
    gap: 5px;
    align-items: anchor-center;
}
.tooltip li:has(span[contenteditable]):has(+ div) {
    border-bottom: 1px solid rgb(75 85 99);
}
.tooltip .essence_name {
    appearance: none;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    width: 100%;
    line-height: 22px;
    text-wrap: auto;
    padding: 4px 5px;
    position: relative;
}
.tooltip div:has(> .essence_name):hover {
    outline:1px solid rgb(75 85 99);
}

.tooltip div:has(> .essence_name) {
    position: relative;
    flex-grow: 1;
}
/* seen over at https://blog.logrocket.com/creating-custom-select-dropdown-css/ */
.tooltip div:has(> .essence_name):after {
    --size: 0.3rem;
    position: absolute;
    content: '';
    pointer-events: none;
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid transparent;
    top: 13px;
    right: 5px;
}
.tooltip div:has(> .essence_name):hover:after {
    border-top-color: rgb(75 85 99);
}

span[contenteditable]:before {
    content: '+';
    position: absolute;
    top: 4px;
    left: -10px;
}
span[contenteditable]:focus,
span[contenteditable]:active,
.tooltip .essence_name:focus,
.tooltip .essence_name:active {
    outline: 0px solid transparent;
}
span[contenteditable] {
    line-height: 17px;
    border-bottom: 1px dashed white;
    padding: 4px 0px;
    position: relative;
    margin-left: 6px;
    max-width: 55px;
}


.tooltip span[contenteditable]:focus,
.tooltip span[contenteditable]:active,
.tooltip .essence_name:focus,
.tooltip .essence_name:active,
.tooltip .essence_name:focus option,
.tooltip .essence_name:active option {
    color: white;
}



#jewelry .item .img-container,
#armor .item .img-container,
#weapons .item .img-container {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(90deg,rgba(205, 204, 206, 1) 41%, rgba(149, 149, 148, 1) 69%, rgba(102, 102, 103, 1) 100%);
}

.img-container .inside-img-container > img {
    width: 44px;
    height: 44px;
}

/* 
seen at https://tobiasahlin.com/blog/previous-sibling-css-has/
--
this is the default state before clicking any slot
*/
#jewelry td.item:has(+ .noshow) .inside-img-container,
#armor td.item:has(+ .noshow) .inside-img-container,
#weapons td.item:has(+ .noshow) .inside-img-container {
    border: 3px solid black;
}
/* this is after clicking on a slot */
.inside-img-container {
    width: 44px; /* has to be the same size as .img-container img */
    height: 44px; /* has to be the same size as .img-container img */
    border-style: solid;
    border-image-slice: 1;
    border-width: 3px; /* same as .img-container */
    border-image-source: linear-gradient(0deg,rgba(255, 235, 8, 1) 10%, rgba(149, 149, 148, 0) 69%, rgba(102, 102, 103, 0) 100%);
}

/*
-- =================
-- VIRTUES
-- =================
*/

#table-container h2 {
    font-variant: small-caps;
    letter-spacing: 0.5px;
    font-weight: normal;
}
.virtue h2 {
    margin-top: 0px;
}

#virtues {
    display: flex;
    flex-direction: column;
    border-top: 2px solid rgb(75 85 99);
    margin-top: 20px;
}

#virtues > h2 + div {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 15px;
}

.virtue {
    position: relative;
    width: 64px;
    height: 64px;
}
.virtue-icon,
.virtue-border {
    position: absolute;
}

.virtue-images {
    cursor: pointer;
    height: 64px; /* height has to be set because both children are absolutely positioned
                     and thus the parent acts like a 0-height element;

                     this number should be equal to the size of the img elements inside
                  */
}
.virtue-selection {
    top: -248px;
    position: relative;
    z-index: 3;
}
.virtue-selection > form > div:nth-of-type(1) {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
.virtue-selection > form select {
    padding: 5px;
}
.virtue-selection > form select + input {
    width: 40px;
}

/* virtue tooltip */
.virtue-images:hover + div + .virtue-tooltip {
    visibility: visible;
}
.virtue-tooltip {
    left: 0px;
    top: auto;
    bottom: 64px;
    min-width: 250px;
    padding: 10px;
}
    /* row 1 - image and name */
    .virtue-tooltip > div:nth-child(1) {
        display: flex;
    }
    .vtt-icon {
        width: 44px;
        height: 44px;
    }
    .vtt-name {
        align-self: anchor-center;
        font-family: serif;
        color: #C3B585;
        font-variant: small-caps;
        line-height: 1em;
        font-size: 1.4em;
        margin-left: 8px;
    }

    /* row 2 - virtue rank */
    .virtue-tooltip > div:nth-child(2) {
        display: flex;
        justify-content: space-between;
        margin: 15px 0px;
    }
    .virtue-tooltip > div:nth-child(2) > span:nth-of-type(1) {
        color: #2AB51F;
    }
    .vtt-rank {
        color: #C3B585;
    }

    /* list items */
    .virtue-tooltip ul {
        margin: 0px;
    }
    .virtue-tooltip li {
        color: #99ff00;
        line-height: 1.35em;
    }

    /* list items */
    .virtue-tooltip > p {
        margin: 15px 0px 5px 0px;
        color: #C3B585;
    }


.remove-virtue,
.remove-item {
    position: absolute;
    z-index: 5;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .25s ease-in;
    top: 0px;
    right: 0px;
}
.remove-virtue,
#weapons .remove-item {
    top: -3px;
    right: -3px;
}
.virtue-images:hover > .remove-virtue,
tr:has(.img-container .remove-item):hover .img-container .remove-item {
    visibility: visible;
    opacity: 1;
}
.remove-virtue img,
.remove-item img {
    width: 15px;
    height: 15px;
    filter: invert(1);
}
.remove-virtue button[type='submit'],
.remove-item button[type='submit'] {
    all: unset;
    padding: 3px;
    background-color: #75200c;
    display: inline-flex;
    transition: background-color .25s ease-in;
    border: 1px solid #cccccc;
    border-radius: 50%;
}
.remove-virtue button[type='submit']:hover,
.remove-item button[type='submit']:hover {
    background-color: #A62D12;
}
.remove-virtue input,
.remove-virtue select,
.remove-item input,
.remove-item select {
    visibility: hidden;
    display: none;
    width: 0px;
    height: 0px;
}
#weapons .item {
    position: relative; /* fixes the position of the small X button */
}

li:has(span[contenteditable]):hover .remove-item {
    visibility: visible;
    opacity: 1;
}
li:has(span[contenteditable]) .remove-item {
    cursor: pointer;
    top: -12px;
    right: -15px;
}

/*
-- =================
-- RESPONSIVE
-- =================
*/

@media screen and (max-width: 1250px) {
    .inner {
        width: 800px;
    }
    #stat-values td:first-child {
        vertical-align: top;
        max-width: 140px;
        min-width: 140px;
    }
    .item + td > form {
        width: 250px;
    }
    .tooltip > div {
        width: 13em !important;
    }
    #table-container > .b1-content {
        justify-content: normal;
    }
    .popup {
        min-width: 350px;
    }
    #class-select label[for="char-level"] {
        left: 0;
    }
    #class-select form label {
        margin-right: 10px;
    }
    #char-level {
        left: -5px;
    }
    #weapons .item + td {
        left: 95px;
    }
    #weapons .tooltip {
        left: 115px;
        bottom: 68px;
    }
}

@media screen and (max-width: 950px) {
    h1, .inner {
        width: 450px;
    }
    #main {
        flex-direction: column;
        gap: 10px;
    }
    #table-container {
        width: auto;
        margin-right: 0px;
    }
    #class-select form {
        flex-wrap: wrap;
        gap: 10px;
    }
    .item + td > form {
        width: 215px;
    }
    td form select {
        width: 120px;
    }
    #armor .item + td {
        right: 66px;
    }
    #stat-values table td:nth-child(2) span:first-child {
        margin-left: 100px;
    }
    .popup form {
        flex-direction: column;
    }
    #import-popup button[type="submit"] {
        margin-left: 0px;
        margin-top: 10px;
    }
    #class-select .b1-content {
        flex-direction: column;
    }
    #class-select form {
        margin-bottom: 30px;
        margin-top: 15px;
    }
    #class-select label[for="char-level"] {
        left: 140px;
        top: -18px;
    }
    #char-level {
        left: -10px;
    }
    #weapons .tooltip {
        left: 80px;
    }
    .virtue:last-child .virtue-tooltip,
    .virtue:nth-last-child(2) .virtue-tooltip {
        left: auto;
        right: 0;
    }
}
/*
-- =================
-- END
-- RESPONSIVE
-- =================
*/