@font-face {
  font-family: Aniron;
  src: url(aniron/anirm___.ttf);
}

/* 
-- =================
-- COMMON STYLES
-- =================
*/

body {
    background-image: url(main_bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F2F2F2;
    margin: 0;
}

.inner {
    width: 1100px;
    display: flex; /* in #main, this ensures that the gear panel takes up the whole vertical space */
    flex-direction: column;
}

button {
    cursor: pointer;
    border: 1px solid #A62D12;
    background-color: #A62D12;
    color: #F2F2F2;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
}

button:hover {
    background-color: #F2A950;
    border-color: #F2A950;
    color: #404040;
}

input {
  text-align: center;
  background-color: #ccc;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
}

.noshow {
    visibility: hidden;
    display: none !important;
}

.green {
    color: green;
}
.red {
    color: red;
}

/*
-- =================
-- DECORATIVE BORDER STYLES
-- =================
*/
.b1-parent-container {
    display: grid;
    grid-template-columns: 22px 14px auto 14px 22px;
    grid-template-rows: 22px 14px auto 14px 22px;
}
.b1-tl {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background-image: url(border-top-left.png);
}
.b1-tm {
    grid-column: 3;
    grid-row: 1;
    background-image: url(border-top.png);
}
.b1-tr {
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
    background-image: url(border-top-right.png);
}
.b1-l {
    grid-column: 1;
    grid-row: 3;
    background-image: url(border-left.png);
}
.b1-content {
    grid-column: 2 / span 3;
    grid-row: 2 / span 3;
    background-color: rgba(0, 0, 0, 0.92);
}
.b1-r {
    grid-column: 5;
    grid-row: 3;
    background-image: url(border-right.png);
}
.b1-bl {
    grid-column: 1 / span 2;
    grid-row: 4 / span 2;
    background-image: url(border-bottom-left.png);
}
.b1-bm {
    grid-column: 3;
    grid-row: 5;
    background-image: url(border-bottom.png);
}
.b1-br {
    grid-column: 4 / span 2;
    grid-row: 4 / span 2;
    background-image: url(border-bottom-right.png);
}
/*
-- =================
-- END
-- DECORATIVE BORDER STYLES
-- =================
*/

a:has(h1) {
    text-decoration: none;
}

h1 {
    font-family: Aniron;
    color: #F2A950;
    width: 100%;
    text-align: center;
}

/* 
-- =================
-- CLASS SELECTION
-- =================
*/

#class-select {
    margin-bottom: 15px;
}

#class-select form {
    display: flex;
    justify-content: center;
}

#class-select form label {
    margin-right: 15px;
}

#class-select [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

#class-select [type=radio] + img {
    cursor: pointer;
    opacity: 0.35;
}

#class-select [type=radio] + img:hover {
    opacity: 0.65;
}

#class-select [type=radio]:checked + img {
    opacity: 1;
}

/* 
-- =================
-- END
-- CLASS SELECTION
-- =================
*/

/* 
-- =================
-- IMPORT / EXPORT
-- =================
*/

#import-export {
    display: flex;
    flex-direction: column;
}

#import-export > div {
    display: flex;
    justify-content: space-between;
}

#import-export form:not(#clear-gear),
#import-export > input {
    margin-top: 10px;
}

#import-export form {
    display: flex;
}

#import-export input {
    width: auto;
    flex-grow: 1;
}

#import-export form input {
    margin-right: 10px;
}

/* 
-- =================
-- END
-- IMPORT / EXPORT
-- =================
*/

#main {
    flex-direction: row;
    margin-top: 15px;
}

tr {
    position: relative;
    display: block;
    margin-bottom: 5px;
}

/* 
-- =================
-- GEAR PANEL
-- =================
*/

#table-container {
    width: 650px;
    margin-right: 5px;
}

#table-container > .b1-content {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: center;
    /* vignette effect */
    box-shadow: 0px 0px 200px 100px rgba(0,0,0,0.95) inset;
    -webkit-box-shadow: 0px 0px 200px 100px rgba(0,0,0,0.95) inset;
    -moz-box-shadow: 0px 0px 200px 100px rgba(0,0,0,0.95) inset;
}

#table-container > .b1-content > div:first-child {
    display: flex;
    justify-content: space-between;
}

.item {
    cursor: pointer;
}

.item + td {
    position: absolute;
    z-index: 3;
}
#weapons .item + td {
    top: -170px;
    left: 130px;
}

#weapons {
    display: flex;
    justify-content: center;
    position: relative; /* this is to make sure that we position the same way the pop-ups for each item in here */
}

#weapons tbody {
    display: flex;
}

#weapons tr {
    position: unset;
}

#jewelry .item + td {
    top: 1px;
    left: 66px;
}

#armor .item + td {
    top: 1px;
    right: 70px;
}

.item + td form div {
    margin-bottom: 10px;
}

#jewelry :nth-child(n + 6 of tr) .item + td,
#armor :nth-child(n + 6 of tr) .item + td {
    top: auto;
    bottom: 1px;
}

td form select {
    padding: 5px;
    width: 150px;
    margin-right: 10px;
}

td form h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.item + td > form {
    width: 300px;
}

.item + td > form > div:first-child {
    display: flex;
    flex-direction: column;
}

.item + td > form > div:not(:first-child) {
    display: flex;
    flex-direction: row;
}

.item + td > form > div:last-child {
    justify-content: space-around;
    margin-bottom: 0px;
    margin-top: 15px;
}

.item + td > form > div:not(:first-child) > select {
    flex: 3;
}
.item + td > form > div:not(:first-child) > input {
    min-width: 0;
    flex: 1;
}

td span:first-child {
    margin-right: 2px;
}

/* 
-- =================
-- END
-- GEAR PANEL
-- =================
*/








#stat-values {
    flex-grow: 1;
}

#notification {
    color: #f26b43;
    margin-bottom: 0px;
    margin-top: 15px;
}

#stat-values td:first-child {
    min-width: 235px;
}

#stat-values tr:before {
    color: #b7b076;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    padding: 0px 0px 3px 0px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}
#stat-values tr:not(:first-child):before {
    margin-top: 10px;
}
#stat-values tr:nth-child(1):before {
    content: "Basic stats";
}
#stat-values tr:nth-child(6):before {
    content: "Offence";
}
#stat-values tr:nth-child(11):before {
    content: "Defence";
}
#stat-values tr:nth-child(17):before {
    content: "Regeneration";
}

/*
-- =================
-- ITEM TOOLTIP
-- stolen from Lotro-Wiki
-- =================
*/

.tooltip ul {
    list-style: none;
}
.tooltip li,
.tooltip li a {
    color: white;
    margin-left: 0px !important;
}
.tooltip li.attrib {
    color: limegreen;
}

.tooltip figure {
    margin: 0px 15px 0px 0px;
}

.tooltip ul {
    padding: 0px;
    margin-bottom: 0px;
}

.tooltip-content > span:first-child {
    float: left;
}

.tooltip {
    position: absolute;
    top: 2px;
    left: 70px;
    visibility: hidden;
    border: 5px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(90deg,rgba(205, 204, 206, 1) 41%, rgba(149, 149, 148, 1) 69%, rgba(102, 102, 103, 1) 100%);
    background-color: black;
    z-index: 2;
}

#jewelry .tooltip {
    top: 3px;
}

#armor .tooltip {
    left: -318px;
}

#weapons .tooltip {
    top: auto;
    bottom: 8px; /* this should be changed if more weapon slot items are added */
    left: -46px; /* this should be changed if more weapon slot items are added */
}

.item:hover + td + td.tooltip,
.tooltip:hover {
    visibility: visible;
}

#armor :nth-child(n + 6 of tr) .item + td + td.tooltip,
#jewelry :nth-child(n + 6 of tr) .item + td + td.tooltip {
    top: auto;
    bottom: 3px;
}

#jewelry .item .img-container,
#armor .item .img-container,
#weapons .item .img-container {
    width: 58px;
    height: 58px;
    border-style: solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(90deg,rgba(205, 204, 206, 1) 41%, rgba(149, 149, 148, 1) 69%, rgba(102, 102, 103, 1) 100%);
}

.img-container img {
    width: 52px;
    height: 52px;
}

/* 
seen at https://tobiasahlin.com/blog/previous-sibling-css-has/
--
this is the default state before clicking any slot
*/
#jewelry td.item:has(+ .noshow) .inside-img-container,
#armor td.item:has(+ .noshow) .inside-img-container,
#weapons td.item:has(+ .noshow) .inside-img-container {
    border: 3px solid black;
}
/* this is after clicking on a slot */
.inside-img-container {
    width: 52px; /* has to be the same size as .img-container img */
    height: 52px; /* has to be the same size as .img-container img */
    border-style: solid;
    border-image-slice: 1;
    border-width: 3px; /* same as .img-container */
    border-image-source: linear-gradient(0deg,rgba(255, 235, 8, 1) 10%, rgba(149, 149, 148, 0) 69%, rgba(102, 102, 103, 0) 100%);
}


/*
-- =================
-- RESPONSIVE
-- =================
*/

@media screen and (max-width: 1200px) {
    .inner {
        width: 800px;
    }
    #stat-values td:first-child {
        vertical-align: top;
        max-width: 140px;
        min-width: 140px;
    }
    .item + td > form {
        width: 250px;
    }
    .tooltip > div {
        width: 13em !important;
    }
    #armor .tooltip {
        left: -234px;
    }
    #table-container > .b1-content {
        justify-content: normal;
    }
}

@media screen and (max-width: 820px) {
    h1, .inner {
        width: 450px;
    }
    #main {
        flex-direction: column;
        gap: 10px;
    }
    #table-container {
        width: auto;
        margin-right: 0px;
    }
    #class-select form {
        flex-wrap: wrap;
        gap: 10px;
    }
    .item + td > form {
        width: 215px;
    }
    td form select {
        width: 120px;
    }
    #armor .item + td {
        right: 66px;
    }
    #stat-values table td:nth-child(2) span:first-child {
        margin-left: 100px;
    }
}
/*
-- =================
-- END
-- RESPONSIVE
-- =================
*/