<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Test</title>
</head>
<body id="landing">
    <div class="outer">
        <div class="middle">
            <div class="inner clearfix">
                <form action = {{ url_for('handle_choices') }} method="POST">
                    <button type="submit" id="new">
                        New gear set
                    </button>
                </form>
                <form action = {{ url_for('handle_choices') }} method="POST">
                    <!-- It is important that we do this as a form submission so the redirect can work -->
                    <input type="text" class="noshow" id="load_stored" name="load_stored">
                    <button type="submit" id="load">
                        Load existing
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script>
        gc = localStorage.getItem('gear-config');
        if (gc == null) {
            b = document.getElementById('load')
            
            b.classList.add('not-active');
            b.setAttribute('disabled', '');
        }
        else {
            document.getElementById('load_stored').value = gc;
        }
    </script>
</body>
</html>